/* STUDY 4 */

.study4 {
    padding: 100px 0px 0px 0px;
}

.study4 .info-section {
    box-sizing: border-box;
    position: relative;
    display: block;
    padding: 50px 0px 100px 0px;
}

.study4 .info-section .intro-block {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.study4 .info-section .intro-block .section-heading {
    margin: 50px 0px 0px 0px;
}

.study4 .info-section .intro-block .paragraphs {
    margin: 50px 0px 0px 0px;
}

.study4 .info-section .intro-block img {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 50px 0px 0px 0px;
    width: 100%;
}



.study4 .info-section .icons-block {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 50px 0px 0px 0px;
}

.study4 .info-section .icons-block .paragraphs {
    margin: 50px 0px 0px 0px;
}

.study4 .info-section .icons-block .icon-boxes {
    box-sizing: border-box;
    position: relative;
    display: block;
}

.study4 .info-section .icons-block .icon-boxes .box {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 50px 10px 0px 10px;
    width: 25%;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 0px;
  
  height: auto; 
}

/* Clear floats after the columns */
.row:after {
  content: "";61%;
    display: table;
  clear: both;
}

@media only screen and (max-width: 600px) {
    .study4 .info-section .icons-block .icon-boxes .box {
        width: 50%;
    }
    /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
     height: auto; 
  }
}

.study4 .info-section .icons-block .icon-boxes .box img {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 96px;
}

.study4 .info-section .icons-block .icon-boxes .box .label {
    box-sizing: border-box;
    position: relative;
    display: block;
    margin: 10px 0px 0px 0px;
    text-align: center;
}